if player.images.length === 1
  - const image = player.images[0];
  img.asset__image(
    src=image.thumbnail,
    alt=image.title,
    itemprop=metadata.type==='asset' ? 'about' : 'image',
    data-action='toggle-expandable'
  )
else
  .row
    each image in player.images
      .col-md-4
        img.asset__image(
          src=image.thumbnail,
          alt=image.title,
          itemprop=metadata.type==='asset' ? 'about' : 'image',
          data-action='toggle-expandable'
        )
