if player.images.length === 1
  - const image = player.images[0];
  - const [url, rest] = image.thumbnail.split('/thumbnail')
  a(onclick=`location.href='${url}'`)
    img.asset__image(
      src=image.thumbnail,
      alt=image.title,
      itemprop='image'
    )
else
  .row
    each image in player.images
      .col-md-4
        - const [url, rest] = image.thumbnail.split('/thumbnail')
        a(onclick=`location.href='${url}'`)
          img.asset__image(
            src=image.thumbnail,
            alt=image.title,
            itemprop='image',
          )
